@using TireDep.Domain.Model
@using Microsoft.AspNetCore.Mvc.Rendering
@using TireDep.App.ViewModels.Deposit
@model TireDep.App.ViewModels.Deposit.DepositOwnerVm

@{
    ViewData["Title"] = "AddDeposit";
}

<h1>Add Deposit (For regular User) </h1>




<hr />
<form asp-action="AddDeposit" method="post" role="form">



    <input type="hidden" asp-for="Deposit.Id" />
    <input type="hidden" asp-for="Deposit.StartDate" />
    <input type="hidden" asp-for="Deposit.IsActive" />



    <div class="row"><div class="col"><h5>Deposit Details</h5></div></div>
    <div class="row">
        <div class="col">
            <input asp-for="Deposit.Name" type="text" class="form-control" placeholder="Deposit Name" aria-label="DepositNAme">
            <span asp-validation-for="Deposit.Name"></span>
        </div>
        <div class="col">
            <input asp-for="Deposit.TireTreadHeight" type="text" class="form-control" placeholder="Tire Tread Height" aria-label="Tire Tread Height">
            <span asp-validation-for="Deposit.TireTreadHeight"></span>
        </div>
        <div class="col">
            <select class="form-control" asp-for="Deposit.SeasonTireId" asp-items="@(new SelectList(@ViewBag.Seasons, "Id", "Name"))" placeholder="Season Tire Type" aria-label="Season Tire Type"></select>
        </div>
    </div>
    <br />
    <div class="row"><div class="col"><h5>Select Owner</h5></div></div>
    <div class="row">
        <div class="col">

            <select class="ownerSelect2 form-control" asp-for="Deposit.OwnerId" aria-label="Owner">
                <option></option>
            </select>
        </div>
    </div>

    <div class="form-group form-check">

    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>




<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".ownerSelect2 ").select2(
                {
                    minimumInputLength: 3,
                    placeholder: 'Select an option',
                    ajax: {
                        url: '/Owner/Search',
                        data: function (params) {
                            var query = {
                                phrase: params.term,
                            }

                            return query;
                        },
                        processResults: function (data) {
                            return {
                                results: data
                            };
                        }
                    },

                }
                );
           
      
           
        });
    </script>
}


