@model TireDep.App.ViewModels.Deposit.DepositOwnerVm

@{
    ViewData["Title"] = "EditDeposit";
}

<h1>EditDeposit</h1>
<hr />

    
        <form asp-action="EditDeposit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Deposit.Id" class="form-control" />
                <input type="hidden" class="form-check-input" asp-for="Deposit.IsActive" />
                
            </div>
            
          
            <div class="row">
                <div class="col-4"> <div class=" rounded">Deposit</div> </div>
                <div class="col-4"> <div class=" rounded">Owner</div> </div>
                <div class="col-4"> <div class=" rounded">Deposit Timeline</div> </div>
            </div>
            
            <div class="row">
                <div class="col-4"> <div class=" rounded">
                    <div class="form-group">
                        <label asp-for="Deposit.Name" class="control-label"></label>
                        <input asp-for="Deposit.Name" class="form-control" />
                        <span asp-validation-for="Deposit.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Deposit.TireTreadHeight" class="control-label"></label>
                        <input asp-for="Deposit.TireTreadHeight" class="form-control" />
                        <span asp-validation-for="Deposit.TireTreadHeight" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <select class="form-control" asp-for="Season.Id" asp-items="@(new SelectList(@ViewBag.Seasons, "Id", "Name"))" placeholder="Season Tire Type" aria-label="Season Tire Type"></select>
                        <input type="hidden" asp-for="Season.Id" class="form-control"/>
                    </div>

                </div> </div>
                <div class="col-4"> <div class=" rounded">
                    <div class="form-group">
                        <label asp-for="Owner" class="control-label"></label>
                        <select class="form-control" asp-for="Owner.Id" asp-items="@(new SelectList(ViewBag.Owners, "Id", "LastName"))" placeholder="Owner" aria-label="Owner"></select>
                        <input type="hidden" asp-for="Owner.Id" class="form-control" />
                    </div>

                </div> </div>
                <div class="col-4"> <div class=" rounded">
                    <div class="form-group">
                        <label asp-for="Deposit.StartDate" class="control-label"></label>
                        <input asp-for="Deposit.StartDate" class="form-control" />
                        <span asp-validation-for="Deposit.StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Deposit.EndDate" class="control-label"></label>
                        <input asp-for="Deposit.EndDate" class="form-control" />
                        <span asp-validation-for="Deposit.EndDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Deposit.Price" class="control-label"></label>
                        <input asp-for="Deposit.Price" class="form-control" />
                        <span asp-validation-for="Deposit.Price" class="text-danger"></span>
                    </div>
                </div> </div>
            </div>

            <div class="form-group">
              

            <input class="btn btn-primary" type="submit" value="Update Deposit"  />
            <button class="btn btn-danger"  asp-action="Index" asp-controller="Deposit"/>Back to Index</button>
            </div>
        </form>
  


