@model TireDep.App.ViewModels.Owner.DepositListByOwnerListForVm
@{
    ViewData["Title"] = "DepositsByOwnerName";
}

<h1>Search by Owner</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="DepositsByOwnerName" asp-controller="Deposit" method="post">
          
            <div class="row">

                <div class="form-group">
                    <input type="text" asp-for="SearchString" name="searchString" id="searchString" class="form-control" placeholder="Search by OwnerName" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

