/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/*ovverride bootstrap*/

.deposit-main {
    font-size: 28px;
    font-weight:bolder;
    color: #393991;
    text-align: center;
    padding: 20px;
}

.deposit-second {
    font-size: 17px;
    font-weight: bold;
    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}
.deposit-action {
    font-size: 17px;
    font-weight: bold;
    background-color: blue;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}

.centrowanie {
    display: flex;
    padding: 30px;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center
}

.gora-boxa {
    background-color: #393991;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    font-weight: bold;
    border-bottom-color: white;
    border-bottom-width: 4px;
    border-bottom-style: double;
}
.dol-boxa {
    background-color: #f4f7f5;
    color: #1F3a89;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    padding: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    height: 200px;

}
.upbar {
    background-color: #393991;
    height: 9px;
    width: 100%;
}

.searchbox {
    padding: 10px;
}